*{
	margin:0;
	padding:0;
}

.imag{
	background: url("../../../images/ui-bg_gloss-wave_35_f6a828_500x100.png") repeat scroll 0 0 transparent;
    float: left;
    margin-bottom: 15px;
    margin-left: 0;
	border : 1px solid #E78F08;
	border-radius: 5px 5px 5px 5px;
}

.imag img{
	margin-left: 741px;
}
.placeholder{
	color: gray;
}

.headStyle{
	color: #FFFFFF;
    height: 62px;
    line-height: 0px;
    margin-top: -1.8em;
    text-align: left;
    text-shadow: 0 1px 0 #0096C5;
}

#uservalues fieldset legend {
	text-shadow: 0 1px 1px #c0d576;
}
#uservalues  fieldset input {
	margin-bottom: 1px;
    margin-left: 17px;
    margin-right: 5px;
	background: #ffffff;
	border: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	font: italic 13px Georgia, "Times New Roman", Times, serif;
	outline: none;
	padding: 5px;
}
#uservalues fieldset p{
	background: #b9cf6a;
	background:  rgba(23, 150, 230, 0.3);
	border-color: #e3ebc3;
	border-color: rgba(255,255,255,.6);
	border-style: solid;
	border-width: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	line-height: 30px;
	list-style: none;
	padding: 0px 2px;
	margin-bottom: -1px;
}
#uservalues fieldset{
	border: none;
	color: #384313;
	font-size: 13px;
	font-weight: bold;
	padding-bottom: 10px;
	text-shadow: 0 1px 1px #c0d576;
}
#uservalues fieldset label 
{
	margin-left: 10px;
}
#tabs{	
	margin-left: auto;
    margin-right: auto;
	width: 1302px;
	height: 730px;
}
#tabs-1{
	/*height: 552px;
	overflow: hidden;*/
}
#diagram{
	margin-bottom: 28px;
    top: -4px;
    width: 347px;
}
#uservalues{
	margin-left: 313px;
    margin-top: -576px;
    position: absolute;
    width: 221px;
}
#run{
	margin-left:10px;
	margin-top:10px;
}
#displayvalues{
	margin-left: 313px;
    margin-top: -139px;
    position: absolute;
    width: 221px;
}
#displayvalues fieldset p{
	background: #b9cf6a;
	background:  rgba(23, 150, 230, 0.3);
	border-color: #e3ebc3;
	border-color: rgba(255,255,255,.6);
	border-style: solid;
	border-width: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	line-height: 30px;
	list-style: none;
	padding: 0px 2px;
	margin-bottom: 1px;
}
#displayvalues input{
	background: #ffffff;
	border: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	font: italic 13px Georgia, "Times New Roman", Times, serif;
	outline: none;
	padding: 5px;
	margin-left: 5px;
}
#displayvalues fieldset{
	border: none;
	color: #384313;
	font-size: 13px;
	font-weight: bold;
	padding-bottom: 10px;
	text-shadow: 0 1px 1px #c0d576;
}
#displayvalues label{
	margin-left : 25px;
}
#note{
	 margin-left: 543px;
    margin-top: -550px;
    width: 650px;
}
#graphSMD{
	height: 520px;
    left: 537px;
    top: -556px;
    width: 758px;
}
#CcVal{
	margin-left: 32px;
}
#zetaVal{
	margin-left: 15px;
}
#omeganVal{
 margin-left: 15px;
}
#omegadVal{
	margin-left:15px;
}	

#Showf{
	margin-left: 23px;
    margin-top: -22px;
}